# Maven
target/
.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
out/

# IDEs
.idea/
*.iml
*.swp
*.iws
*.ipr
.vscode/

# Logs
*.log
logs/
*/logs/

# Docker
*.pid
docker-data/
volumes/
*/volumes/

# Entornos
.env



